@font-face {
    font-family: worksans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}


$p-size:clamp(1rem, 2.5vw, 1.5rem);
$m-size:clamp(2rem, 5vw, 3rem);
$h-size:clamp(8rem, 8vw, 10rem);
$st-rem:10rem;


a {
    text-decoration: none;
    font-size: $m-size;
    border: solid white 1px;
    padding: 15px 30px;
    color: white;
    &:hover {
        background-color: white;
        color: black;
        transition: all 0.3s ease-in-out;
    }
}

span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000000;
}

img {
    max-width: 100%;
}
main {
    background-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid; */
}
html {
    font-size: 62.5%;
    font-family: "worksans",Arial, Helvetica, sans-serif;
    color: white;
}
header {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: $st-rem;
    img {
        width: 1px;
        height: 20vh;
        text-align: center;
    }
}
.california {
    background-color: black;
    height: 80vh;
    color: white;
    padding: $st-rem;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    p {
        font-size: $p-size;
    }
    h1 {
        font-size: $h-size;
    }
    h2 {
        font-size: $h-size;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px #FFFFFF;
        margin-top:-5rem;
    }
    article {
        &:nth-of-type(1) {
            margin-bottom: 20rem;
        }
    }
    article {
        &:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: $st-rem;
            }
        }
    }
}
.wildfire {
    padding: $st-rem;
    padding-top: 0;
    h2{
        font-size: $h-size;
        width: 75vw;
        margin-bottom: $st-rem;
        position: relative;
        z-index: 10;
        text-align: center;
    }
    article {
        p{
            font-size: $p-size;
        }
        h3{
            font-size: $h-size;
            margin-bottom: $st-rem;
        }
    }
    img {
        width: 40vw;
        position: absolute;
        right: 0%;
        top: 180%;
    }
}
.pictures {
    article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        color: black;
        column-gap:$st-rem;
        row-gap: 20vh;
        margin-bottom: 20rem;
        img {
            &:nth-of-type(1){
                grid-column: 3/4;
                width: 25vw;
                margin-top: -$st-rem;
                margin-left: -15rem;
            }
            &:nth-of-type(2){
                grid-column: 1/2;
                width: 20vw;
                margin-top: -$st-rem;
                justify-self: center;
            }
        }
        div {
            grid-column:2/4 ;
            h2 {
                font-size: $h-size;
                width: 42vw;
            }
            p {
                font-size: $p-size;
                width: 35vw;
                font-weight: bold;
                line-height: $m-size;
            }
        }
        img {
            &:nth-of-type(3){
                margin-top: -25rem;
                justify-self: right;
                width: 20vw;
                grid-column: 3/4;
                grid-row: 3;
            }
        }
        img {
            &:nth-of-type(4){
                grid-column: 2/3;
                grid-row: 4;
                width: 25vw;
                margin-top: -$st-rem;
                margin-left: -30rem;
            }
        }
        img {
            &:nth-of-type(5) {
                grid-column: 3/4;
                grid-row: 4;
                width: 25vw;
                margin-left: -15rem;
            }
        }
        img {
            &:nth-of-type(6) {
                    grid-column: 1/2;
                    grid-row: 5;
                    width: 20vw;
            }
        }
        p { 
            grid-row: 5;
            grid-column:2/4 ;
            font-size: $p-size;
            width: 30vw;
            font-weight: bold;
            line-height: $m-size;
            
        }
        img {
            &:nth-of-type(7) {
                width: 25vw;
                grid-column: 3/4;
                grid-row: 6;
                margin-left: -20rem;
                margin-bottom: -10rem;
            }
        }
    }
}
.golden-bear {
    background-color: black;
    padding: 0 $st-rem ;

    article {
        &:nth-of-type(1) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            div {
                p {
                    font-size: $p-size;
                    font-weight: bold;
                }
                h3 {
                    font-size: $h-size;
                    margin-top: 2rem;
                    width: 10vw;
                }
                h4 {
                    font-size:$m-size;
                    margin-bottom: 3rem;
                    width: 30vw;
                }
            }
        }
    }
    article {
        &:nth-of-type(2){
            display: flex;
            margin-bottom: -$st-rem;
            padding: 0 15rem;
            img {
                object-fit: cover;
                width: 50vw;
                z-index: 10;
                &:nth-of-type(2) {
                    width: 40vw;
                    height: 50vh;
                    margin-left: -$st-rem;
                    align-self: center;
                    margin-bottom: -12rem;
                }
            }
        }
    }
}
.poppy-bear {
    background-color: white;
    color: black;
    padding: 0 $st-rem $st-rem ;
    article {
        &:nth-of-type(1) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            padding-top: 30rem;
            div {
                p {
                    font-size: $p-size;
                    font-weight: bold;
                }
                h3 {
                    font-size: $h-size;
                    margin-top: 2rem;
                    width: 10vw;
                }
                h4 {
                    font-size:$m-size;
                    margin-bottom: 3rem;
                    width: 30vw;
                }
            }
        }
    }
    article {
        &:nth-of-type(2){
            display: flex;
            padding: 0 15rem;
            img {
                object-fit: cover;
                &:nth-of-type(1){
                    position: relative;
                    z-index: 10;
                    width: 40vw;
                    height: 40vh;
                    margin-right: -$st-rem;
                    align-self: center;
                }
                &:nth-of-type(2) {
                    width: 50vw;
                }
            }
        }
    }
}
.june {
    padding: $st-rem;
    article{
        &:nth-of-type(1){
            width: 40vw;
            p{
                font-size: $p-size;
                margin-bottom: 5rem;
                
            }
            h4{
                font-size: $m-size;
                margin-bottom: 5rem;
            }
        }
    }
    article{
        &:nth-of-type(2){
            display: flex;
            justify-content: space-between;
            div {
                &:nth-of-type(1){
                    img{
                        margin-top: $st-rem;
                        margin-bottom: 2rem;
                        width: 2vw;
                        &:nth-of-type(2){
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
                    p{
                        font-size: $p-size;
                        margin-bottom: 3rem;
                    }
                }
                &:nth-of-type(2){
                    display: flex;
                    align-items: center;
                    column-gap: 30px;
                    img{
                        width: 10vw;
                        height: auto;
                    }
                }
            }
        }
    }

}


// ==Keyframes==



.poppy-bear {
    overflow: hidden;
    position: relative;
    .circle {
        animation: circle 10s infinite linear;
        width: 26vw;
        height: auto;
        position: absolute;
        right: -10%;
        top: -6%;
    }

}

.june {
    overflow: hidden;
    position: relative;
    .stripe {
        position: absolute;
        right:-90%;
        top:0%;
        height: 10vh;
        width: 250vw;
        transform: rotate(40deg);
        background-color: white;
        color: black;
        font-size: $h-size;
        h5 {
            animation: rotation 20s infinite alternate;
        }
    }
}


@keyframes circle {
    from {
        transform: rotate(0deg);
   }
   to {
        transform: rotate(360deg);
   }
}
@keyframes rotation {
    from {
        transform: translateX(-25%);
    }
    to {
        transform: translateX(55%);
    }
}