@font-face {
  font-family: worksans;
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: lora;
  src: url(../fonts/Lora-VariableFont_wght.ttf);
}
a {
  text-decoration: none;
  font-size: clamp(1.5rem, 4vw, 3rem);
  border: solid white 1px;
  padding: 15px 30px;
  color: white;
}
a:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}

span {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000000;
}

img {
  max-width: 100%;
}

main {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid; */
}

html {
  font-size: 62.5%;
  font-family: "lora", Arial, Helvetica, sans-serif;
  color: white;
}

p {
  font-family: "worksans", Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
}
header img {
  width: 1px;
  height: 20vh;
  text-align: center;
}

.california {
  background-color: black;
  height: 80vh;
  color: white;
  padding: 10vw;
  text-align: center;
  text-transform: uppercase;
}
.california p {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
  text-transform: none;
}
.california p:nth-of-type(2) {
  -webkit-text-stroke: 1.5px #000000;
}
.california h1 {
  font-size: clamp(4rem, 6vw, 8rem);
}
.california h2 {
  font-size: clamp(4rem, 6vw, 8rem);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #FFFFFF;
  margin-top: -2rem;
}
.california article:nth-of-type(1) {
  margin-bottom: 20rem;
}
.california article:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.california article:nth-of-type(2) img {
  min-width: 15vw;
  max-height: 8vh;
}

.wildfire {
  padding: 10vw;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wildfire h2 {
  grid-column: 1/3;
  font-size: clamp(4rem, 6vw, 8rem);
  width: 70vw;
  margin-bottom: 10rem;
  position: relative;
  z-index: 10;
}
.wildfire article p {
  font-size: clamp(1rem, 2vw, 2rem);
}
.wildfire article h3 {
  font-size: clamp(4rem, 6vw, 8rem);
  margin-bottom: 10rem;
}
.wildfire img {
  margin-top: -10rem;
  grid-column: 2/3;
  min-width: 50vw;
  width: 70vw;
}

.pictures article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  color: black;
  column-gap: 10rem;
  row-gap: 20vh;
  margin-bottom: 20rem;
}
.pictures article img:nth-of-type(1) {
  grid-column: 3/4;
  width: 25vw;
  margin-top: -10rem;
  margin-left: -15rem;
}
.pictures article img:nth-of-type(2) {
  grid-column: 1/2;
  width: 20vw;
  margin-top: -10rem;
  justify-self: center;
}
.pictures article div {
  grid-column: 2/3;
}
.pictures article div h2 {
  font-size: clamp(4rem, 6vw, 8rem);
  width: 32vw;
}
.pictures article div p {
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: clamp(1.5rem, 4vw, 3rem);
  width: 30vw;
}
.pictures article img:nth-of-type(3) {
  margin-top: -25rem;
  justify-self: right;
  width: 20vw;
  grid-column: 3/4;
  grid-row: 3;
}
.pictures article img:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 4;
  width: 25vw;
  margin-top: -10rem;
  margin-left: -30rem;
}
.pictures article img:nth-of-type(5) {
  grid-column: 3/4;
  grid-row: 4;
  width: 25vw;
  margin-left: -15rem;
}
.pictures article img:nth-of-type(6) {
  grid-column: 1/2;
  grid-row: 5;
  width: 20vw;
}
.pictures article > p {
  grid-row: 5;
  grid-column: 2/4;
  font-size: clamp(1rem, 2vw, 2rem);
  width: 30vw;
  line-height: clamp(1.5rem, 4vw, 3rem);
}
.pictures article img:nth-of-type(7) {
  width: 25vw;
  grid-column: 3/4;
  grid-row: 6;
  margin-left: -20rem;
  margin-bottom: -10rem;
}

.golden-bear {
  background-color: black;
  padding: 0 10rem;
}
.golden-bear article:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.golden-bear article:nth-of-type(1) div p {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
}
.golden-bear article:nth-of-type(1) div h3 {
  font-size: clamp(4rem, 6vw, 8rem);
  margin-top: 2rem;
  width: 10vw;
}
.golden-bear article:nth-of-type(1) div h4 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 3rem;
  width: 30vw;
}
.golden-bear article:nth-of-type(2) {
  display: flex;
  margin-bottom: -10rem;
  padding: 0 15rem;
}
.golden-bear article:nth-of-type(2) img {
  object-fit: cover;
  width: 50vw;
  z-index: 10;
}
.golden-bear article:nth-of-type(2) img:nth-of-type(2) {
  width: 25vw;
  margin-left: -10rem;
  align-self: center;
  margin-bottom: -12rem;
}

.poppy-bear {
  background-color: white;
  color: black;
  padding: 0 10rem 10rem;
}
.poppy-bear article:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding-top: 30rem;
}
.poppy-bear article:nth-of-type(1) div p {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
}
.poppy-bear article:nth-of-type(1) div h3 {
  font-size: clamp(4rem, 6vw, 8rem);
  margin-top: 2rem;
  width: 10vw;
}
.poppy-bear article:nth-of-type(1) div h4 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 3rem;
  width: 30vw;
}
.poppy-bear article:nth-of-type(2) {
  display: flex;
  padding: 0 15rem;
}
.poppy-bear article:nth-of-type(2) img {
  object-fit: cover;
}
.poppy-bear article:nth-of-type(2) img:nth-of-type(1) {
  position: relative;
  z-index: 10;
  width: 40vw;
  height: 40vh;
  margin-right: -10rem;
  align-self: center;
}
.poppy-bear article:nth-of-type(2) img:nth-of-type(2) {
  width: 50vw;
}

.june {
  padding: 10rem;
}
.june article:nth-of-type(1) {
  width: 40vw;
}
.june article:nth-of-type(1) p {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-bottom: 5rem;
}
.june article:nth-of-type(1) h4 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 5rem;
}
.june article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
.june article:nth-of-type(2) div:nth-of-type(1) img {
  margin-top: 10rem;
  margin-bottom: 2rem;
  width: 2vw;
}
.june article:nth-of-type(2) div:nth-of-type(1) img:nth-of-type(2) {
  margin-left: 8px;
  margin-right: 8px;
}
.june article:nth-of-type(2) div:nth-of-type(1) p {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-bottom: 3rem;
}
.june article:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.june article:nth-of-type(2) div:nth-of-type(2) img {
  width: 10vw;
  height: auto;
}

.poppy-bear {
  overflow: hidden;
  position: relative;
}
.poppy-bear .circle {
  animation: circle 10s infinite linear;
  width: 26vw;
  height: auto;
  position: absolute;
  right: -10%;
  top: -6%;
}

.june {
  overflow: hidden;
  position: relative;
}
.june .stripe {
  position: absolute;
  right: -90%;
  top: 0%;
  width: 250vw;
  transform: rotate(40deg);
  background-color: white;
  color: black;
  font-size: clamp(4rem, 6vw, 8rem);
}
.june .stripe h5 {
  animation: rotation 3.5s infinite alternate linear;
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

/*# sourceMappingURL=style.css.map */
